$primary-clr: #38BDC7;
$primary-clr-light: #60CBD2;
$secondary-clr: #C74238;

$modal-bg: rgba(7, 6, 6, 0.775);

*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    height: 100vh;
}

#container{
    height: 100%;
    display: grid;
    grid-template: 0.1fr 1fr 0.05fr / 0.25fr 1fr;
}

header{
    grid-column: span 2;
    background-color: $primary-clr;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container{
        margin-inline: auto;
        font-size: 2rem;
        color: #ffffff;

    }

    span{
        color: #ffffff;
    }
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $primary-clr-light;

    padding-top: 2rem;

    li{
        margin-block: 1rem;
        width: 100%;

        cursor: pointer;

        a{
            color: white;
            font-size: 1.5rem;
        }

        a.active{
            color: $secondary-clr;
        }
    }

    #project-links-display{
        display: none;
    }

    #project-links-display.active{
        display: block;


        .add-project-input{

            display: flex;
    
            input{
                width: 10rem;
                height: 1.5rem;
    
                border: none;
                border-radius: 5px;
            }
            
            #new-project-btn{
                color: white;
                border: none;
                border-radius: 5px;
                background-color: $primary-clr;
        
            }
        }
    }
    

    #new-todo-btn{
        width: 3rem;
        height: 3rem;

        margin-inline: auto;
        margin-bottom: 3rem;

        border: none;
        border-radius: 1000px;

        background-color: whitesmoke;

        box-shadow: 1px 3px 4px $primary-clr;

       
	    &:before {
            content: '+';
            font-size: 1.5rem;
            color: $primary-clr;
        }

        &:hover{
            transform: scale(1.05);
        }
    }
}

main{
    background-color: whitesmoke;

}

footer{
    grid-column: span 2;
    background-color: $primary-clr;
}

#modal-container{
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: $modal-bg;

    .modal{
        padding: 3rem;
        background-color: $primary-clr;

        form{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .input-group{
                display: flex;
                flex-direction: column;
                gap: 0.2rem;

                label{
                    color: $secondary-clr;
                }

                /* input, select{
                    margin-top: 0.2rem;
                } */
            }
        }
    }
}