.todo-container{
    display: flex;
    /* justify-content: space-between; */

    padding: 0.5rem 0.6rem;
    margin: 0.4rem;

    border: 1px dashed grey;
    border-radius: 10px;
    background-color: azure;

    .checkbox{
        width: 2rem;
    }

    .task{
        margin-right: auto;
    }

    .date{
        margin-right: auto;
    }
  /*   .date::before{
        content: 'Due: ';
        color: grey;
        font-size: 0.9rem;
        text-transform: uppercase;
    } */

    .project{
        margin-right: 0.5rem;
    }

    button{
        width: 2rem;
        margin-right: 0.5rem;
    }


}

.todo-container.completed{
    background-color: grey;

    .task{
        text-decoration: line-through;
    }
}