$primary-clr: #38bdc7;
$primary-clr-light: #60cbd2;
$secondary-clr: #c74238;

.todo-container {
  display: flex;
  justify-content: flex-start;

  padding: 0.5rem 0.6rem;
  margin: 0.8rem 1rem;

  border-radius: 10px;
  background-color: azure;

  > div {
    justify-self: center;
    display: flex;
    align-items: center;
  }

  .checkbox {
    width: 1.6rem;
    cursor: pointer;

    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .task {
    margin-left: 1.5rem;
    min-width: 10rem;
  }

  .date {
    min-width: 7rem;
    margin: 0 auto;
  }

  .project {
    min-width: 8rem;
    text-transform: uppercase;
    color: grey;
  }

  .edit-btn {
    svg {
      height: 1.1rem;
      background-color: rgba($color: azure, $alpha: 0);
    }
  }

  button {
    font-size: 1.1rem;
    background-color: inherit;

    cursor: pointer;

    border: none;

    transition: all 0.2s;

    &:hover {
      transform: rotate(-360deg) scale(1.08);
    }
  }
}

.todo-container.completed {
  background-color: grey;

  > div {
    opacity: 60%;
  }

  .checkbox {
    opacity: 100%;
  }

  .task {
    text-decoration: line-through;
  }

  button {
    background-color: grey;
  }
}
